<include file="./Public/header.html" />
</div>
<form action="doaddtitle" method="post">
<table>
	<tr><td>项目名称</td><td><input type="text" name="titlename" /></td></tr>
	<tr><td>分配子公司</td>
		<td>
			<input type="radio" name="subcompany" value="0" />全部
			<input type="radio" name="subcompany" value="1" />南部
			<input type="radio" name="subcompany" value="2" />北部
			<input type="radio" name="subcompany" value="3" />中部
			<input type="radio" name="subcompany" value="4" />玫瑰
		</td>
	</tr>
	<tr><td colspan="2"><input type="submit" value="添加" /></td></tr>
</table>	
</form>